html {
  background: white;
}

.recipe-background {
  background-image: url("../recipe-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.nav-bar {
  border-bottom: 3px solid;
  background: rgb(207, 233, 242);
  font-size: 30px;
}

@media (max-width: 768px) {
  .nav-bar {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .nav-bar {
    font-size: 10px;
  }
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left:8px;
  margin-top: 15px;
  width: 450px;
  border-radius: 10px;
  font-weight: medium;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  background-color: rgb(207, 233, 242, 0.8);



.widget-image {
  width: 92px;
  height: 100px;
  margin-bottom: 10px;
}

.spoonacular-amount {
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 3px;
  
}

.spoonacular-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  
}

.selected-recipe {
  font-size: 35px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .widget-image {
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .widget-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .spoonacular-amount {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .spoonacular-amount {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .spoonacular-name {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .spoonacular-name {
    font-size: 10px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cooking-steps-container {
  margin-top: 20px;
  padding-left: 0;
  list-style-type: none;
}

#cooking-steps {
  text-align: center;
  font-size: 18px;
}

@media (max-width: 768px) {
  #cooking-steps-container {
    text-align: left;
  }

  #cooking-steps {
    text-align: left;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  #cooking-steps-container {
    text-align: center;
  }

  #cooking-steps {
    text-align: center;
    font-size: 14px;
  }
}

button {
  position: absolute;
  margin-top: 10px;
  right: 0;
}

h1 {
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

footer {
  background: rgb(207, 233, 242);
  border-top: 3px solid black;
  font-size: 25px;
  flex-shrink: 0;
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    font-size: 18px;
    background: rgb(207, 233, 242);
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 13px;
    background: rgb(207, 233, 242);
  }
}
}